.background {
  background: url('../../../../public/loginBg02.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  
}
.container {
  margin-left: 0px !important;
  margin-right: 0px !important;
  --bs-gutter-x: 0rem!important; 
     --bs-gutter-y: 0!important;
}
.p{font-size: 14px !important}